<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title> {{ title }} </title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
<body>

<H1>{{ title }}</H1>

<table class="table">
  <thead class="thead-dark">
<TR>
    <th>Serial</th>
    <th>Hostname</th>
    <th>Template</th>
	<th>Remove</th>
<TR>
</thead>
  <tbody>
{% for i in switches %}
<TR>
 <TD>{{i.serial}}</TD>
 <TD>{{i.hostname}}</TD>
 <TD>{{i.template}}</TD>
 <TD>
 
 <form method="POST" action="/delete">
 <input type="hidden" name="index" value="{{ loop.index0 }}"/>
 <input type="submit" value="delete"></input></form>
  
 </TD>
  
</TR>
{% endfor %}


<TR>
<form method="POST" action="/add">
<TD>
 <input type="text" name="serial" value=""/>
</TD><TD>
 <input type="text" name="hostname" value=""/>
</TD><TD>
 <input type="text" name="template" value=""/>
</TD><TD>
 <input type="submit" value="add"></input></form>
</TD
</TR>
</tbody>
</table>

<BR>







</HTML>
