#def ReturnComment($a)
#if $a == 'ServDisab'
Port is enabled, but there is no server in the slot.
#else if $a == 'connected'
Port is enabled, Server is inserted and NIC is up and running.
#else if $a == 'disabled'
Port is administratively shutdown.
#else if $a == 'disconnected'
Port is enabled, Server is inserted but NIC is not up.
#end if
#end def

<HTML>
<HEAD>
<TITLE>$title</TITLE>
<LINK rel="stylesheet" type="text/css" href="/css/styles.css">
</HEAD>
<BODY>
<BR>
Switch: <select>
  <option value="sip">SIPNDSA06Z01B[A|B]</option>
</select> 
<BR>
<BR>
#for i in range(0,len($fexes))
#set $fex = $fexes[i]
#set $fexB = $fexesB[i]
Fex $fex.fexid<BR>
Enclosure $fex.enclosure<BR>
Rack $fex.rack<BR>
<BR>
</BODY>
<TABLE id="t01">
<TR>
    <th>Interface</th>
	<th>Fex</th>
	<th>Slot</th>
	<th>Change LAN A State</th>
    <th>LAN A Status</th>
	<th>Change LAN B State</th>
    <th>LAN B Status</th>
    <th>Description</th>
	<th>VLAN(s)</th>
	<th>VFC</th>
	<th>FCoE</th>
	<th>VSAN A</th>
	<th>FCOE State A</th>
	<th>VSAN B</th>
	<th>FCOE State B</th>
 </TR>
#for $idx in sorted($fex.intf.keys())
<TR>
 <TD>$fex.intf[$idx].intf</TD>
 <TD>$fex.intf[$idx].fexid</TD>
 <TD>$fex.intf[$idx].slot</TD>
  <TD>
 <form method="GET" action="/index/enable">
 <input type="hidden" name="fex" value="$fex.fexid"/>
 <input type="hidden" name="intf" value="$idx"/>
 <input type="submit" value="Enable"></input></form>
 <form method="GET" action="/index/disable">
 <input type="hidden" name="fex" value="$fex.fexid"/>
 <input type="hidden" name="intf" value="$idx"/>
 <input type="submit" value="Disable"></input></form>
 
 <!--
     <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch$fex.intf[$idx].fexid$idx" class="onoffswitch-checkbox" id="myonoffswitch$fex.intf[$idx].fexid$idx" checked>
        <label class="onoffswitch-label" for="myonoffswitch$fex.intf[$idx].fexid$idx">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>

-->
 
 
 </TD>
 <TD>
 <div class="tooltip">$fex.intf[$idx].state
  <span class="tooltiptext">$ReturnComment($fex.intf[$idx].state)</span>
 </div>
 </TD>
 <TD></TD>
 <TD>
 <div class="tooltip">$fexB.intf[$idx].state
  <span class="tooltiptext">$ReturnComment($fexB.intf[$idx].state)</span>
 </div>
 </TD>
 <TD>$fex.intf[$idx].desc</TD>
 <TD>$fex.intf[$idx].vlan</TD>
 <TD>$fex.intf[$idx].vfc</TD>
 <TD>
 #if $fex.intf[$idx].vsan == None
 <form method="GET" action="/index/fcoe_enable">
 <input type="hidden" name="fex" value="$fex.fexid"/>
 <input type="hidden" name="intf" value="$idx"/>
 <input type="submit" value="FCoE Add"></input></form>
 #else
 <form method="GET" action="/index/fcoe_disable">
 <input type="hidden" name="fex" value="$fex.fexid"/>
 <input type="hidden" name="intf" value="$idx"/>
 <input type="submit" value="FCoE Remove"></input></form>
 #end if

 </TD>
 <TD>$fex.intf[$idx].vsan</TD>
 <TD>$fex.intf[$idx].fcoe_state</TD>
 <TD>$fexB.intf[$idx].vsan</TD>
 <TD>$fexB.intf[$idx].fcoe_state</TD>
 
</TR>
#end for
</TABLE>
#end for
</HTML>