<html>
<body>

<h2>O365 Ranges per Service</h2>
<h3>Generated: {{ now() }} </h3>

<table border="1"><tbody>
<tr>
 <td>Server</td>
 <td>Original XML Link</td>
 <td>Proxy.pac format</td>
 <td>Cisco ACL format</td>
 <td>Checkpoint format</td>
</tr>
{% for item in items %}
<tr>
 <td>{{ item[1] }}</td>
 <td><a href="{{ item[0] }}">{{ item[0] }}</a></td>
</tr>
{% endfor %}
</tbody></table>

</body>
</html>
